@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --description-color: #6f737a;
  --primary-text: #101010;
  --focus-color: #d40b37;
  --underline: #a1b2c4;
  --font-nunito: 'Nunito', sans-serif;
  --focus-secondary: #898582;
  --title-color: rgb(82 74 89);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  width: 100%;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif; 
  /* var(--font-nunito); */
  color: var(--foreground);
  background: var(--background);
}

.gradient-bg {
  background: linear-gradient(180deg, #ff7e5f, #ffffff);
}

.content{
  padding-left: 4rem;
  padding-right: 4rem;
}

.content-bg {
  background: #ffffff;
  /* padding-top: 12rem; */
  /* padding-top: 8rem; */
}

.sonia {
  font-size: 7rem;
  line-height: 8rem;
  color: #d0f9a7;
}

@media (max-width: 640px) {
  /* .content-bg {
    padding-top: 4rem;
  } */
  .content{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sonia {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (max-width: 1024px) and (min-width: 640px) {
  /* .content-bg {
    padding-top: 8rem;
  } */
  .content{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sonia {
    font-size: 6rem;
    line-height: 6rem;
  }
}

.p-scrolltop {
  background-color: #00000059 !important;
  padding: 0.6rem;
  border-radius: 50px;
}

.p-scrolltop-icon {
  color: white;
}

.header-underline {
  background-color: var(--underline);
  border-radius: 500px;
  height: 4px;
  width: 32px;
}

.card-content {
  background: #f5febd;
  padding: 20px;
  border-radius: 30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.emphasis-line {
  text-decoration: underline;
  text-decoration-color: #ff00008a;
  text-decoration-thickness: 0.2rem;
  text-decoration-skip-ink: none;
}

.about-bordered {
  /* background: linear-gradient(-90deg, #ffffff, #fbe9e7);; */
  border-radius: 30px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

@media (max-width: 640px) {
  .break-text-sm::after {
    content: '\A';
    white-space: pre;
  }
  .break-text-sm {
    display: inline;
  }
}

.yellow-brick {
  object-fit: cover;
  object-position: center;
  /* top: 18rem; */
}

@media (max-width: 768px) {
  .center-align-sm {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .yellow-brick {
    top: 18rem;
  }
}
@media (max-width: 1024px) {
  .yellow-brick {
    top: 45rem;
  }
}

.project-card {
  transition: box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  box-shadow: 0 0 30px var(--glow-color);
}
